// @keyframes login {
//   50% {
//     transform: translate(10%, 0px);
//   }
//   100% {
//     transform: translate(0px, 0px);
//   }
// }
// @keyframes reg {
//   50% {
//     transform: translate(-10%, 0px);
//   }
//   100% {
//     transform: translate(0px, 0px);
//   }
// }
.black-container {
  background-color: $black;
  width: 100%;
  height: 100vh;

  .window {
    width: 50%;
    height: 60vh;
    background-color: $white;
    border: solid 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: $center;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    @include screen(desktop) {
      width: 70%;
    }
    @include screen(tablet) {
      width: 90%;
    }
    @media screen and (max-width: 700px) {
      flex-direction: column;
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
    #reg-button {
      background-color: $red;
      &:hover {
        background-color: rgb(230, 112, 112);
        width: 105%;
      }
    }
    #user-name {
      background-color: rgb(230, 247, 255);
    }
    #email {
      background-color: rgb(230, 247, 255);
    }
    #password {
      background-color: rgb(230, 247, 255);
    }
    #login-button {
      background-color: $green;
      &:hover {
        background-color: rgb(136, 241, 206);
        width: 105%;
      }
    }
    .button {
      height: 6vh;
      width: 80%;
      border-radius: 25px;
      border: solid 1px;
      padding: 10px;
      margin-top: 10px;
      font-size: 18px;
      margin-top: auto;
      align-items: bottom;
      cursor: pointer;
      @media screen and (max-width: 700px) {
        margin-top: 10px;
      }
      &:focus {
        border-radius: inherit;
        border: 2px;
      }
    }
    .green {
      display: none;
      position: absolute;
      width: 50%;
      background-color: $green;
      height: 100%;
      cursor: pointer;
      user-select: none;
      border-radius: 20px;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      @media screen and (max-width: 700px) {
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        height: 50%;
      }
      // &:hover {
      //   animation-name: login;
      //   animation-duration: 0.7s;
      // }
      h3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: $center;
      }
    }
    .color {
      background-color: $red;
      border-radius: 20px;
    }
    .half-window {
      width: 50%;
      height: 100%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 700px) {
        width: 100%;
        padding-top: 20px;
      }

      h3 {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .enter-block {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10vh;
        @media screen and (max-width: 700px) {
          margin-top: 2vh;
        }
        input {
          height: 6vh;
          width: 80%;
          border-radius: 25px;
          border: solid 1px;
          padding: 10px;
          margin-top: 10px;
          font-size: 18px;
          &:focus {
            border-radius: inherit;
            border: 2px;
          }
        }
      }
    }
    .text {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: white;
    }

    .red {
      display: flex;
      position: absolute;
      left: 50%;
      width: 50%;
      background-color: $red;
      height: 100%;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      padding: 20px;
      cursor: pointer;
      user-select: none;
      @media screen and (max-width: 700px) {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 50%;
        left: 0%;
        top: 50%;
      }
      // &:hover {
      //   animation-name: reg;
      //   animation-duration: 1s;
      // }
      h3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: $center;
      }
    }
  }
}
