.black-container {
  background-color: $black;
  width: 100%;
  height: 100vh;
}
.container-auth {
  width: 900px;
  height: 60vh;
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: $center;
  border-radius: 20px;
  display: flex;
  @include screen(tablet-wide) {
    width: 90%;
  }
  @media screen and (max-width: 700px) {
    flex-direction: column;
    height: 90%;
  }
  .btn {
    padding: 10px 60px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    color: $white;
    transition: 0.2s ease-in;
  }
  .btn-green {
    border: 2px solid $green;
    background-color: $white;
    color: $green;
    &:hover {
      background-color: $green;
      color: $white;
    }
  }
  .btn-red {
    border: 2px solid $red;
    background-color: $white;
    color: $red;
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
  .half-window {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    @media screen and (max-width: 700px) {
      width: 100%;
      padding-top: 20px;
    }
    .form-auth {
      width: 70%;
      height: auto;
      display: flex;
      margin: auto;
      position: relative;
      flex-direction: column;
      text-align: center;
      .input-form-auth {
        height: 50px;
        width: 100%;
        border-radius: 25px;
        border: solid 2px $gray;
        padding-left: 10px;
        margin-top: 15px;
        font-size: 18px;
        outline: none;
        &:focus {
          background-color: rgb(230, 247, 255);
          border-color: $green;
        }
        &:first-child {
          margin-top: 0;
        }
      }
      small {
        margin: 7.5px 0px 7.5px 0px;
        a {
          font-size: 13px;
        }
      }
    }
    .btn-green {
      margin-top: 7.5px;
    }
    .btn-red {
      margin-top: 15px;
    }
  }
  .side-container {
    width: 50%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    .content-wrapper {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      text-align: center;
      .btn {
        margin-top: 10px;
        border: 1px solid $white;
      }
    }
  }
  .red-side-container {
    z-index: 2;
    background-color: $red;
    right: 0;
    .content-wrapper {
      .btn {
        &:hover {
          background-color: $white;
          color: $red;
        }
      }
    }
    @media screen and (max-width: 700px) {
      border-radius: 20px;
      width: 100%;
      height: 50%;
      left: 0%;
      top: 50%;
    }
  }
  .green-side-container {
    background-color: $green;
    display: none;
    .content-wrapper {
      .btn {
        &:hover {
          background-color: $white;
          color: $green;
        }
      }
    }
    @media screen and (max-width: 700px) {
      border-radius: 20px;
      width: 100%;
      height: 50%;
    }
  }
}
// ANIMATIONS
.red-animation {
  animation-name: reg;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
.green-animation {
  animation-name: login;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes login {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(100%, 0px);
  }
}
@keyframes reg {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-100%, 0px);
  }
}

@media screen and (max-width: 700px) {
  @keyframes reg {
    100% {
      transform: translate(0px, -100%);
    }
  }
  @keyframes login {
    100% {
      transform: translate(0px, 100%);
    }
  }
}
