@keyframes rotation {
  to {
    transform: rotate(90deg);
  }
}

.log-out-button {
  i {
    font-size: 40px;
    color: $red;
    transition: ease-in 0.2s;
  }
  &:hover {
    p {
      color: $green;
      scale: 1;
    }
    span {
      color: $green;
    }
    i {
      color: $green;
    }
  }
}
span {
  color: $red;
  font-size: 10px;
  cursor: pointer;
  user-select: none;
  z-index: 6;
  transition: ease-in 0.2s;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0px 10px 0px;
  @include screen(phone) {
    height: auto;
  }

  #category-menu {
    h3 {
      color: $white;
      cursor: pointer;
      user-select: none;
      transition: ease-in 0.2s;
      &:hover {
        color: $green;
        transform: scale(1.2);
      }
    }
    @media screen and (max-width: 1330px) {
      margin: 0px 10px 0px 10px;
    }
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  position: fixed;
  z-index: 6;
  background-color: black;
  display: none;
}

.modal {
  display: none;
  background-color: $white;
  width: 1100px;
  height: 800px;
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: $center;
  z-index: 10;
  @include screen(desktop) {
    width: 85%;
  }
  @include screen(tablet-wide) {
    height: 60vh;
  }
  .close-window {
    cursor: pointer;
    user-select: none;
    position: fixed;
    top: -40px;
    right: -40px;
    i {
      font-size: 40px;
      transition: ease-in 0.15s;
      color: $white;
      &:hover {
        animation-name: rotation;
        animation-duration: 1s;
        color: $red;
        opacity: 1;
      }
    }
  }
  .modal-slide-btn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    i {
      font-size: 50px;
      cursor: pointer;
      user-select: none;
      transition: ease-in-out 0.2s;
      background-color: $gray;
      color: $white;
      border-radius: 25%;
      &:hover {
        font-size: 70px;
      }
    }
  }
  .next {
    right: 20px;
  }
  .previous {
    left: 20px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $center;
  }
}

.header {
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
  background-image: url("../../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include screen(tablet) {
    height: 450px;
  }
}

.galery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  width: 100%;
  margin: 40px auto 40px auto;
  gap: 40px;
  @media screen and (max-width: 1325px) {
    gap: 10px;
    margin: 10px auto 10px auto;
  }
  @include screen(phone) {
    gap: 10px 0px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  #photo {
    width: 400px;
    height: 500px;
    object-fit: cover;
    margin: auto;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    @include screen(phone) {
      width: 100%;
    }
  }
}
