.menu {
  position: fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-around;

  #category-menu {
    margin-top: 10px;

    p {
      color: $white;
      font-size: 30px;
      cursor: pointer;
      user-select: none;
      z-index: 6;
      transition: ease-in 0.2s;
      &:hover {
        color: $green;
        transform: scale(1.2);
      }
    }
  }
}
.overlay {
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  position: fixed;
  z-index: 6;
  background-color: black;
  display: none;
}

.close-window {
  cursor: pointer;
  user-select: none;
  display: none;
  z-index: 8;
  position: fixed;
  transform: $center;
  top: 7%;
  left: 93%;
  i {
    font-size: 60px;
    opacity: 0.3;
    transition: ease-in 0.15s;
    &:hover {
      color: $red;
      opacity: 1;
    }
  }
}
.next-previous {
  display: none;
  .next {
    position: fixed;
    transform: $center;
    top: 50%;
    left: 90%;
    z-index: 8;
  }
  .previous {
    position: fixed;
    transform: $center;
    top: 50%;
    left: 10%;
    z-index: 8;
  }
  i {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    opacity: 0.3;
    transition: ease-in-out 0.2s;
    background-color: $gray;
    border-radius: 25%;
    &:hover {
      font-size: 70px;
      opacity: 1;
    }
  }
}
.modal {
  display: none;
  background-color: $white;
  width: 90%;
  height: 90vh;
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: $center;
  z-index: 7;
  margin-top: -5px;
  img {
    height: 98%;
    width: auto;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $center;
  }
}
.header {
  width: 100%;
  height: 600px;

  .header-img {
    width: 100%;
    max-height: 600px;
    z-index: 1;
  }
}

.main-text {
  width: 100%;
  height: 70px;
  margin: auto;
  background-color: $black;
  p {
    color: $green;
    font-size: 50px;
    text-align: center;
  }
}

.galery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  gap: 40px 40px;
  margin-top: 40px;
  margin-bottom: 40px;

  #photo {
    width: 500px;
    height: 600px;
    object-fit: cover;
    margin: auto;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: black;
      opacity: 0.7;
    }
  }
}
