.left-pos {
  .nav-buttons {
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 10px;
  }
}

.card-image {
  position: relative;
  i {
    position: absolute;
    top: 10%;
    left: 80%;
    font-size: 40px;
    transform: $center;
    color: $red;
    z-index: 1;
    opacity: 0.5;
    user-select: none;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      font-size: 50px;
      opacity: 1;
    }
    @include screen(desktop) {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 100px;
      &:hover {
        font-size: 120px;
      }
    }
  }
  img {
    z-index: 3;
  }
}
