.card-image {
  i {
    position: absolute;
    margin-left: 470px;
    margin-top: 30px;
    font-size: 40px;
    transform: $center;
    color: $red;
    z-index: 1;
    opacity: 0.5;
    user-select: none;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      font-size: 50px;
      opacity: 1;
    }
  }
  img {
    z-index: 3;
  }
}
