$white: #ffffff;
$black: #1f1818;
$red: #ff8a96;
$gray: #b4b2b2;

$green: #73daa6;
$pink: #ffacb7;
$gold: #ffe0ac;
$blue: #6886c5;
$violet: #dcd6f7;

h1 {
  font-size: 6.5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.5rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.5rem;
}
h6 {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.font-white {
  color: $white;
}

.uppercase {
  text-transform: uppercase;
}
