@import "helpers/_color_and_font";

@import "pages/_gallery";

@import "pages/_menu-admin";

@import "pages/_authorization";

@import "pages/_add-image";

@import "pages/_remove-image";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $black;
  font-size: 10px;
  font-family: "Red Rose", cursive;
  a {
    text-decoration: none;
  }
}
